h1{
    font-family: 'Pacifico', cursive;
}
button{
    padding: 30px;
    font-size: 20px;
}

.sumir{
    display: none;
}
.contador_sumir{
    display: none;
}
#contador{

    display: inline;
    padding: 20px;
    border: 1px solid black;
    font-size: 30px;
    background-color: yellow;
    color: red;
}